__pycache__/
sphinx/_build/
*.py[cod]
marge/experiments
marge/calibration
marge/protocols
marge/seq/experiments
marge/b0_maps/
marge/reports
.idea/
*.dcm
*.pptx
marge/configs/autotuning.py
venv/
logs/
dist/
*.egg-info
*.bz2
*.direct
marge/marcos_fpga_rp-122.bit
marge/marcos_fpga_rp-122.bit.bin
marge/marcos_fpga_rp-122.dtbo
marge/copy_bitstream.sh
marge/readme.org
marcos_fpga_rp-122.bit
marcos_fpga_rp-122.bit.bin
marcos_fpga_rp-122.dtbo
copy_bitstream.sh
readme.org
marge/autotuning/autotuning_arduino/autotuning_arduino.ino
*.seq
*.log
ps_interpreter.log
sequence.seq
*.csv
*.mat
*.rar
*.csv
marge/logs/



__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# PyPI configuration file
.pypirc

# MACOS
# General
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon[]
# Thumbnails
._*

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini
=======
.venv/
*.pyc

