__pycache__/
sphinx/_build/
*.py[cod]
marge/experiments
marge/calibration
marge/protocols
.idea/
marge/configs/units.py
marge/configs/hw_config.py
*.dcm
*.pptx
marge/configs/sys_config.py
marge/configs/autotuning.py
venv/
logs/
dist/
marcos_fpga_rp-122.bit
marcos_fpga_rp-122.bit.bin
marcos_fpga_rp-122.dtbo
readme.org
marge/autotuning/autotuning_arduino/autotuning_arduino.ino
*.seq
*.log
ps_interpreter.log
sequence.seq
*.csv
*.mat
*.rar
*.csv
marge/logs/