matplotlib
nibabel
pydicom
scipy
msgpack
numpy
PyQt5
pyqtgraph
QDarkStyle
bm4d
phantominator
pyserial
ismrmrd
cupy-cuda12x
pypulseq==1.4.2
marga_pulseq
scikit-learn
scikit-image
imageio
h5py
reportlab
pillow
mrd-python @ git+https://github.com/ismrmrd/mrd.git@0f7684d55cc80d9e69cbe4df21e6a4f3b41515e3#subdirectory=python 